{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %} 


<div class="container mt-2">
    <h4 class="my-header">Admin Dashboard</h4>
    <div class="cards-box">
        <div class="col">
          <div class="card align-items-center p-2 border-2 border-success rounded">
            <i class="fa-duotone fa-books" style="font-size: 5.4rem;"></i>
            <div class="card-body">
                <p class="card-text text-center">1 {{bookListedNumbers}}</p>
              <h5 class="card-title">Books Listed</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card align-items-center p-2 border-22 border-danger rounded">
            <i class="fa-solid fa-bin-recycle" style="color: #fb0e26; font-size: 5.4rem;"></i>
            <div class="card-body">
                <p class="card-text text-center">2 {{notReturnedNumber}}</p>
                <h5 class="card-title">Books Not Returned Yet</h5>
            </div>
          </div>
        </div>
       
          <div class="col">
            <div class="card align-items-center p-2 border-2 border-success rounded">
                <i class="fa-solid fa-users" style="color: #51c1e6;font-size: 5.4rem;"></i>
              <div class="card-body">
                  <p class="card-text text-center">300 {{registeredUsers}}</p>
                <h5 class="card-title">Registered Users</h5>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card align-items-center p-2 border-2 border-success rounded">
              <i class="fa-duotone fa-feather" style="font-size: 5.4rem;"></i>
              <div class="card-body">
                  <p class="card-text text-center">30 {{authersListed}}</p>
                  <h5 class="card-title">Authers Listed</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card align-items-center p-2 border-2 border-primary rounded">
              <i class="fa-duotone fa-grid-4" style="font-size: 5.4rem;"></i>
              <div class="card-body">
                  <p class="card-text text-center">20 {{listedCategories}}</p>
                  <h5 class="card-title">Listed Categories</h5>
              </div>
            </div>
          </div>
      </div>
    
    <div class="mt-3 mx-auto col-6">
    </div>
</div>

{% endblock body %}