@media (min-width: 992px) and (max-width: 1100px) {
  
  body {
    background-color: rgb(240, 30, 170);
  }
  /* navbar */
  .header-text{
    font-size: 1.1rem;
    
    letter-spacing: 1px;
}
  .navbar-nav .nav-item{
      font-size: 0.9rem;
  }
  .navbar-collapse{
    padding-right: 0rem !important;
  }
  .navbar-nav .nav-link{
    margin-right: 0rem !important;
    padding-right: 0.7rem !important;
    padding-left: 0rem !important;
  }
  .navbar-aim .card img{
    width: 45px;
    height: 45px;
    margin-left: 8px;
}
  #atTop h3{
      font-size: 1.5rem;
  }

  .my-header {
    padding: 17px 22px;
    border-radius: 8px;
}


}
@media (min-width: 1101px) and (max-width: 1266px) {
  
    body {
      background-color: rgb(54, 42, 221);
    }
    /* navbar */
    .header-text{
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    .navbar-collapse{
      padding-right: 1rem !important;
    }
    .navbar-nav .nav-link{
      margin-right: 0rem !important;
      padding-right: 0.7rem !important;
      padding-left: 0rem !important;
    }
    .nav
    .navbar-nav .nav-item{
        font-size: 0.9rem;
    }
    #atTop h3{
        font-size: 1.7rem;
    }

  
  }
  
  /* For screens between 768px and 991px (small tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
  
    body {
      background-color: rgb(42, 221, 134);
    }
    .header-text{
      font-size: 1.4rem;
      letter-spacing: 5px;
  }

  .navbar-nav .nav-item{
    font-size: 0.9rem;
}

.navbar-nav .nav-link{
  margin-right: 0rem !important;
}

    #atTop h3{
      font-size: 1.3rem;
  }
    .my-header {
      padding: 15px 20px;
      border-radius: 7px;
  }

  /* User Login */
#UserLogin, #userSign,#adminLogin {
  .col-6{
    width: 70% !important;
  }
   
  
  }
  }
/* For screens smaller than 768px (typical smartphones) */

@media (min-width: 600px) and (max-width: 768px) {
  
  body {
    /* background-color: rgb(241, 14, 56); */
  }
  .header-text{
    font-size: 1.4rem;
    letter-spacing: 5px;
}

.navbar-nav .nav-item{
  font-size: 0.9rem;
}


  #atTop h3{
    font-size: 1.3rem;
}
  .my-header {
    padding: 15px 20px;
    border-radius: 7px;
}

.carousel-inner{
  width: 100% !important;
  height: 300px;
}

.carousel-inner .carousel-item img{
  height: 283px !important;
}
.home-para, .instruction-ol,.notice-board .card marquee, footer .footer-links{
  font-size: 0.9rem;
}
.notice-board .card{
  width: 85%;
  margin: 0px auto 10px auto;
}

/* User Login */
#UserLogin, #userSign,#adminLogin {
  .col-6{
    width: auto !important;
  }
}
/* importFile.html */
#importFile,#bookDetails{
  width: auto !important;
}


 

}
  
@media (max-width: 600px) {
  body {
    /* background-color: rgb(236, 132, 132); */
  }
  .container{
    width: 95%;
  }
  .header-text{
    font-size: 1.0rem;
    
    letter-spacing: 1px;
}
  .navbar-aim .card img{
    width: 40px;
    height: 40px;
    margin-left: 8px;
}
  .carousel-inner{
    width: 100% !important;
    height: 300px;
  }

  .carousel-inner .carousel-item img{
    height: 283px !important;
  }
  #atTop h3{
    font-size: 1.0rem;
}
#atTop img{
  height: 90px !important;
}
.fa-book-open-reader{
  font-size: 2.1rem !important;
}
  .my-header {
    padding: 12px 27px;
    border-radius: 6px;
}
.home-para, .instruction-ol,.notice-board .card marquee, footer .footer-links{
  font-size: 0.8rem;
}
.notice-board .card{
  width: 80%;
  margin: 0px auto 10px auto;
}
.social-links span{
  display: block !important;
}

/* User Login */
#UserLogin, #userSign,#adminLogin {
  .col-6{
    width: auto !important;
  }
}

  /* gallery.html .html */
  .ph-gallery .ph-row{
    flex-wrap: wrap !important;
  }
  .ph-gallery .ph-row .card{
    width: auto !important;
    margin-bottom: 10px !important;
  }
/* importFile.html */
  #importFile,#bookDetails{
    width: auto !important;
  }

}