{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %} 


<div class="container mt-2 mx-auto">
    <h4 class="my-header">Book Details</h4>
    <div class="navbar-aim">
        <div class="row row-cols-1 row-cols-md-2 g-4 trigger-element" style="width: 87%;margin: 1rem auto;">
            <div class="col">
                <div class="card  flex-row">
                    <img src="{% static 'images/obj-img1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card flex-row">
                    <img src="{% static 'images/obj-img2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 trigger-element" style="width: 87%;margin: 1rem auto;">
            <div class="col">
                <div class="card  flex-row">
                    <img src="{% static 'images/obj-img3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card flex-row">
                    <img src="{% static 'images/obj-img4.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4 trigger-element" style="width: 87%;margin: 1rem auto;">
            <div class="col">
                <div class="card flex-row">
                    <img src="{% static 'images/obj-img5.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card flex-row">
                    <img src="{% static 'images/obj-img6.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
    

{% endblock body %}