{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %} 


<div class="container mt-2 mx-auto">
    <h4 class="my-header">Add Multiple Books</h4>
    
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="container card p-2" style="width: 65vw;">

      <div class="alert alert-danger" role="alert">
        <strong>Important Instructions</strong> Please check before submit.
      </div>

      <ul>
        <li>Enter UNIQUE ISBN number with coommma seperated. For EX. xxxxx, xxxxxx, xxxx etc...</li>
        <li>If you entered a record which is already exist then occurs an erorr.</li>
       
      </ul>
      <hr>
      
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}}" role="alert">
              {{message}}
            </div>
            <hr>
            {% endfor %}
            {% endif %}

            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="bookName">Book Name</label>
                  <input type="text" class="form-control" name="bookName" id="bookName" placeholder="Enter Book Name" required>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="department">Department</label>
                  
                  <select class="form-select" name="department" id="department" aria-label="Default select example" required>
                    <option selected>--- select department ---</option>
                    {% for i in Departments %}
                    <option value="{{i|upper}}">{{i|upper}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="ISBN">ISBN Nummber</label>
                  <input type="text" class="form-control" name="ISBN" id="ISBN" placeholder="Enter comma seperated ISBN's" required>
                </div>
              </div>
      
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="bookPages">Book Pages</label>
                  <input type="text" class="form-control" name="bookPages" id="bookPages">
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="bookPrice">Price</label>
                  <input type="text" class="form-control" name="bookPrice" id="bookPrice" placeholder="Enter Price in Rs.">
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="autherName">Author Name</label>
                  <input type="text" class="form-control" name="authorName" id="autherName" placeholder="Author Nmae" required>
                </div>
              </div>
      
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="volume">Volume</label>
                  <input type="text" class="form-control" name="volume" id="volume" placeholder="Book Volume">
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="edition">Edition</label>
                  <input type="text" class="form-control" name="edition" id="edition" placeholder="Enter Book Edition">
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="bookSource">Book Source</label>
                  <input type="text" class="form-control" name="bookSource" id="bookSource" placeholder="Enter Book Source">
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="billNo_Date">Bill No. & Date</label>
                  <input type="text" class="form-control" name="billNo_Date" id="billNo_Date" placeholder="Enter Bill no. & Bill Date" required>
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="purchaseDate">Purchase Date</label>
                  <input type="text" class="form-control" name="purchaseDate" id="purchaseDate" placeholder="dd--mm-yyyy">
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="printYear">Print Year</label>
                  <input type="text" class="form-control" name="printYear" id="printYear" placeholder="Enter Print Year">
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="bookContact">Book Contact no.</label>
                  <input type="text" class="form-control" name="bookContact" id="bookContact" placeholder="dd--mm-yyyy">
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="withDrawDate">Withdraw Date & Remark</label>
                  <input type="text" class="form-control" name="withDrawDate" id="withDrawDate" placeholder="Enter Print Year">
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="coverImage">Cover Image</label><br>
                  <input type="file" name="coverImage" id="coverImage" accept="image/*">
                </div>
              </div>
      
            </div>
      
      <div class="col-auto">
        <button type="reset" class="btn btn-danger">Reset</button>
        <button type="submit" class="btn btn-primary" onclick="confirm('Are you sure want to Add Books?')">Add Book</button>
      </div>
    </div>
  </form>
</div>

    

{% endblock body %}