{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %} 

<div class="container mt-2">
    <h4 class="my-header">Set Admin Password</h4>
    
    <div class="mt-3 mx-auto col-6">
      <form method="post">{% csrf_token %}
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Set Password</h5>
          </div>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}}" role="alert">
              {{message}}
            </div>
            {% endfor %}
            {% endif %}


          <div class="modal-body">
            <label for="email" class="form-label">Email Address</label>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
              <input type="email" class="form-control" name="email" id="email" autocomplete="off" value="{{email}}" readonly required>
            </div>
            <label for="pass1" class="form-label">Password</label>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
              <input type="password" id="pass1" class="form-control" name="pass1" title="atleast 8 characters" required>
            </div>

            <label for="pass2" class="form-label">Confirm Password</label>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <input type="password" id="pass2" class="form-control" name="pass2" required>
              </div>
            
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" onclick="confirm('Are you sure to submit?')">Submit</button>
          </div>
          </div>
      </form>
  </div>
</div>
    

{% endblock body %}