<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>{% block title %}{% endblock title %}</title>
  {% load static %}
  {% load tz %}

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <!-- jumbotron -->
  <div id="atTop" class="d-flex align-items-center justify-content-evenly" style="background: linear-gradient(45deg, #61a961, transparent);">
    <div class="">
      <img src="{% static 'images/bbau logo.png' %}" style="height: 120px!important; margin: 10px 0px!important;">
    </div>
    <div class="text-center" style="color: black; margin-top: 25px!important; line-height: 30px!important;">
      <h3><b class="text-center" style="color:maroon;">बाबासाहेब भीमराव अम्बेडकर विश्वविद्यालय </b>
      <br>
      <b class="text-center" style="color:maroon;">Babasaheb Bhimrao Ambedkar University </b></h3>
      <b class="text-center" style="color:maroon;">( A Central University )</b>

      <h3> <b class="text-center" style="color:maroon;">Accredited 'A++' Grade by
          NAAC (2023)</b> </h3>

    </div>
    <div class="">

      <img src="{% static 'images/ambedkar-logo.png' %}"
        style="height: 120px!important; margin-left: -20px !important;">
    </div>
  </div>

  <!-- navbar -->

  <nav class="navbar border-bottom navbar-expand-lg navbar-light position-sticky" style="position: sticky;background: #e9ecef;box-shadow: 0px 2px 5px blue;top: 0px;z-index: 100;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <i class="fa-solid fa-book-open-reader fa-beat-fade" style="font-size: 2.5rem;margin: 5px 1.3rem;"></i><a class="header-text ml-1" href="#"> BBAU SATELLITE CENTRE </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03" style="padding-right: 2rem;">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="http://127.0.0.1:8000/">Dashboard</a>
          </li>

          {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Add Category</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Manage Categories</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Author
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Add Author</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Manage Author</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Books
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/add-book/">Add Book</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/manage-book/">Manage Books</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a type="button" id="issue-book" class="nav-link text-dark" onclick="setAction(this.id)" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Issue Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="return-book" onclick="setAction(this.id)" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Return Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="http://127.0.0.1:8000/registered-students/">Registered Students</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-dark" href="/">Issued Books</a>
          </li>
          
          {% endif %}

          <li class="nav-item">
            <a class="nav-link text-dark" href="http://127.0.0.1:8000/authenticate/change-password/{{user.id}}">Change
              Password</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="http://127.0.0.1:8000/gallery/">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="http://127.0.0.1:8000/contact-us/">Contact US</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
          <li class="nav-item">
            <a class="nav-link me-3 text-dark" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 text-dark" aria-current="page" href="http://127.0.0.1:8000/user-login/">User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 text-dark" aria-current="page" href="http://127.0.0.1:8000/about/">About Us</a>
          </li>
          <li class="nav-item">
            <a href="http://127.0.0.1:8000/authenticate/register/" class="nav-link me-3 text-dark">User Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 text-dark" href="http://127.0.0.1:8000/authenticate/admin-login/">Admin Login</a>
          </li>
          <li class="nav-item">

            <div class="dropdown">
              <a href="#" class="nav-link text-dark dropdown-toggle" id="mainDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Library Executors
              </a>
              <div class="dropdown-menu" aria-labelledby="mainDropdown">
                <div class="dropend">
                  <button class="btn dropdown-toggle" type="button" id="nestedDropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                    Library Incharge
                  </button>
                  <div class="dropdown-menu" aria-labelledby="nestedDropdown">
                    <a class="dropdown-item bg-primary" href="#">Poonam Sharma</a>
                  </div>
                </div>
                <a class="dropdown-item" href="#"></a>
                <div class="dropend">
                  <button class="btn dropdown-toggle" type="button" id="nestedDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                    Library Coordinator
                  </button>
                  <div class="dropdown-menu" aria-labelledby="nestedDropdown">
                    <a class="dropdown-item bg-primary" href="#">Aditya Khamparia</a>
                  </div>
                </div>
              </div>
            </div>
            
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="http://127.0.0.1:8000/gallery/">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="http://127.0.0.1:8000/contact-us/">Contact US</a>
          </li>
        </ul>

        {% endif %}

      </div>
    </div>
  </nav>

  {% if user.is_authenticated %}
  <header class="mb-1 border-bottom d-flex justify-content-end"
    style="padding: 5px 21px">
      <div>
        <a class="me-2">Last Login {{ user.last_login|timezone:"Asia/Kolkata" }}</a>
        <a class="me-2"><i class="fa-solid fa-user text-dark"></i> {{user.username}}</a>
        {% if user.is_superuser %}

        <a class="btn btn-success me-2" href="http://127.0.0.1:8000/authenticate/create-admin/"><i
            class="fa-solid fa-plus text-dark"></i> Create Admin</a>
        {% endif %}
        <a href="http://127.0.0.1:8000/authenticate/logout/" class="btn btn-danger">Log Out</a>
      </div>

  </header>
      {% endif %}

  {% block body %}

  {% endblock body %}



  </div>
  <a href="#atTop" class="scrollButton" style="color: #ffffff;text-align: center;
  padding: 10px;"><i class="fa-solid fa-arrow-up" style="color: #ffffff;"></i></a>


  <footer class="my-footer mt-2">

    <div class="social-links ml-3">
      <span class="me-3 text-light" style="color:white;font-family: 1.2rem;">Get connect with us</span>
      <a href="mailto:sachinrk835257@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      <a href="/"><i class="fa-brands fa-facebook"></i></a>
      <a href="/"><i class="fa-brands fa-twitter"></i></a>

    </div>
    <div class="row me-3">
      <div class="col-md-12">
        <a href="/" style="color: white;text-decoration: none;"><span>Creators </span>sachinsrk | Harsh DUbey</a><br>
        <a href="/" style="color: white;text-decoration: none;">&copy; <span id="currYear">2023</span> BBAU - SATELLITE
          CENTRE online library</a>

      </div>

  </footer>

  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Provide Details</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="forSetAction" method="post">{% csrf_token %}


          <div class="modal-body">
            <label for="ISBN" class="form-label">Book ISBN Number</label>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa-solid fa-book fa-beat"></i></i></span>
              <input type="text" class="form-control" name="ISBN" id="ISBN" placeholder="Enter Unique ISBN Number">
            </div>

            <label for="library_id" class="form-label">Student Library Id</label>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa-regular fa-id-card fa-fade"></i></span>
              <input type="text" class="form-control" name="library_id" id="library_id"
                placeholder="Enter Unique Student Library Id">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  <script src="{% static 'js/main-js.js' %}"></script>
  <script>
    function setAction(id) {
      var issueBookBtn = document.getElementById(id)
      var forSetAction = document.getElementById('forSetAction')
      forSetAction.setAttribute('action', 'http://127.0.0.1:8000/' + id + '/')

    }

    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()

    })

  </script>
</body>

</html>