{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %}


<div class="container mt-2 mx-auto">
  <h4 class="my-header">Book Details</h4>

  <form method="post" action="http://127.0.0.1:8000/update-book/{{book.ISBN}}/" enctype="multipart/form-data"> {% csrf_token %}
    <div class="container card p-2" style="width: 65vw;">

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="bookName">Book Name</label>
            <input type="text" class="form-control" name="bookName" id="bookName" value="{{book.bookName}}"
              placeholder="Enter Book Name" required>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="department">Department</label>
            
            <select class="form-select" name="department" id="department" aria-label="Default select example" required>
              <option selected value="{{book.department}}">{{book.department}}</option>
              {% for i in Departments %}
              <option value="{{i|upper}}">{{i|upper}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="ISBN">ISBN Nummber</label>
            <input type="text" class="form-control" name="ISBN" id="ISBN" value="{{book.ISBN}}" readonly>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="bookPages">Book Pages</label>
            <input type="text" class="form-control" name="bookPages" id="bookPages" value="{{book.bookPages}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="bookPrice">Price</label>
            <input type="text" class="form-control" name="bookPrice" id="bookPrice" value="{{book.bookPrice}}"
              placeholder="Enter Price in Rs.">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="autherName">Author Name</label>
            <input type="text" class="form-control" name="authorName" id="autherName" value="{{book.authorName}}"
              placeholder="Author Nmae" required>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="volume">Volume</label>
            <input type="text" class="form-control" name="volume" id="volume" value="{{book.volume}}"
              placeholder="Book Volume">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="edition">EDition</label>
            <input type="text" class="form-control" name="edition" id="edition" value="{{book.edition}}"
              placeholder="Enter Book Edition">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="bookSource">Book Source</label>
            <input type="text" class="form-control" name="bookSource" id="bookSource" value="{{book.bookSource}}"
              placeholder="Enter Book Source">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="billNo_Date">Bill No. & Date</label>
            <input type="text" class="form-control" name="billNo_Date" id="billNo_Date" value="{{book.billNo_Date}}"
              placeholder="Enter Bill no. & Bill Date" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="purchaseDate">Purchase Date</label>
            <input type="text" class="form-control" name="purchaseDate" id="purchaseDate" value="{{book.purchaseDate}}"
              placeholder="dd--mm-yyyy">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="printYear">Print Year</label>
            <input type="text" class="form-control" name="printYear" id="printYear" value="{{book.printYear}}"
              placeholder="Enter Print Year">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="bookContact">Book Contact no.</label>
            <input type="text" class="form-control" name="bookContact" id="bookContact" value="{{book.bookContact}}"
              placeholder="dd--mm-yyyy">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="withDrawDate">Withdraw Date & Remark</label>
            <input type="text" class="form-control" name="withDrawDate" id="withDrawDate" value="{{book.withDrawDate}}"
              placeholder="Enter Print Year">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="coverImage">Cover Image</label><br>
            {% if book.coverImage %}
            <img src="{{book.coverImage.url}}" alt="Image" style="width: 100px; height: 100px;">
            <input type="file" name="coverImage" id="coverImage" value="{{book.coverImage.url}}"
              src="{{book.coverImage.url}}" accept="image/*">

            {% else %}
            <img src="" alt="No Image" style="width: 100px; height: 100px;">
            <input type="file" name="coverImage" id="coverImage" accept="image/*">

            {% endif %}
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="register_by">Book Register By</label>
            <input type="text" class="form-control" name="register_by" id="register_by" value="{{book.register_by}}"
              readonly>
          </div>
        </div>
      </div>



      <div class="col-auto">
        <button type="submit" class="btn btn-primary" onclick="confirm('Are You sure want to update ?')">Update Book
          Details</button>
      </div>
    </div>
  </form>
</div>


{% endblock body %}