{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %} 
{% load static %}

<div class="container mt-2 mx-auto">
    <h4 class="my-header">Contact Us</h4>
    <div class="contact-content">
        <ul>
            <li class="mb-2"><i class="fas fa-phone"></i>+91-77777777777 (sachin sen)</li>
            <li class="mb-2"><a href=""><i class="fa-solid fa-globe"></i>bbau.ac.in</a></li>
            <li class="mb-2"><a href=""><i class="fas fa-envelope"></i>bbausatellitecentre@gmail.com</a></li>
            <li class="mb-2"><i class="fas fa-map-marker-alt"></i>Tikermafi, Amethi, Uttar Pradesh, 227413, India</li>

        </ul>

        <h2 class="header">Social Media</h2>
        <div class="social-icons mt3">
            <a href="https://www.facebook.com/bbausatellite" target="_blank"><i
                class="fa-brands fa-facebook footer-icon"></i></a>
            <a href="https://twitter.com/bbausatellite" target="_blank"><i
                class="fa-brands fa-twitter footer-icon"></i></a>
            <a href="https://www.linkedin.com/bbausatellite" target="_blank"><i
                class="fa-brands fa-linkedin footer-icon"></i></a>
            <a href="#bbausatellite"><i class="fa-solid fa-envelope footer-icon"></i></a>
            <a href="bbausatellite"><i class="fa-brands fa-instagram footer-icon"></i></a>
          </div>
    </div>
   
</div>

    

{% endblock body %}