{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %} 
{% load static %}

<div class="container mt-2 mx-auto">
    <h4 class="my-header">Gallery</h4>
    <div class="ph-gallery">
        <div class="mb-1 pt-3 d-flex justify-content-center">
            <div class="card align-items-center"><img src="{% static 'images/gallery1.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery2.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery3.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery4.jpeg' %}" class="" alt="...">
                
            </div>
        </div>
        <div class="mb-1 pt-3 d-flex justify-content-center">
            <div class="card align-items-center"><img src="{% static 'images/gallery5.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery6.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery7.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery8.jpeg' %}" class="" alt="...">
                
            </div>
        </div>
        <div class="mb-1 pt-3 d-flex justify-content-center">
            <div class="card align-items-center"><img src="{% static 'images/gallery9.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery10.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery11.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery12.jpeg' %}" class="" alt="...">
                
            </div>
        </div>
        <div class="mb-1 pt-3 d-flex justify-content-center">
            <div class="card align-items-center"><img src="{% static 'images/gallery13.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery14.jpeg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/gallery15.jpeg' %}" class="" alt="...">
                
            </div>
    
        </div>
    
</div>

    

{% endblock body %}