{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %}
{% load static %}

<!-- login form -->
<div class="container mt-2">
    <h4 class="my-header">Registered Students</h4>
    <div class="filer-tools d-flex justify-content-end" style="position: sticky;top: 70px;left: 0px;z-index: 10;">
      <a href="http://127.0.0.1:8000/authenticate/register/" class="btn btn-primary me-2">Register Student</a>
      <a href="http://127.0.0.1:8000/" class="btn btn-primary me-2">Export Excel Data</a>
      <form action="http://127.0.0.1:8000/registered-students-search-by/" class="d-flex me-2" method="post">{% csrf_token %}
        <input class="form-control me-2" type="search" name="search-by" placeholder="Name,Library id,Department" required aria-label="Search" style="display: inline;width: auto;">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    
    </div>
    <div class="container mt-2" style="width: 85vw;overflow-y:hidden;box-shadow: 5px 0px 4px mediumpurple;">
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Email</th>
                <th scope="col">Library ID</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Issued Books</th>
                <th scope="col">Not Returned</th>
                <th scope="col">Fine</th>    
                <th scope="col">Action</th>

               

              </tr>
            </thead>
            <tbody>
              {% for student in students reversed %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{student.name}}</td>
                <td>{{student.department}}</td>
                <td>{{student.user.email}}</td>
                <td>{{student.library_id}}</td>
                <td>{{student.mobile}}</td>
                <td>{{student.issuedBooks}}</td>
                <td>{{student.returnedBooks}}</td>
                <td>{{student.fine}}</td>
                <td><a id="edit-{{id}}" href="http://127.0.0.1:8000/edit-profile/{{student.library_id}}/" class="btn btn-primary me-2">Edit</a>
                {% if user.is_superuser %}
                
                <a id="del-{{id}}" href="http://127.0.0.1:8000/delete-profile/{{student.library_id}}/" class="btn btn-danger me-2" onclick="confirm('are you sure delete student profile?')">Delete</a>
                {% endif %}
                </td>
                
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
    </div>

</div>

{% endblock body %}