{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %} 

<div class="container mt-2 mx-auto">
    <h4 class="my-header">Returned Book Details</h4>
    <!-- <div class="filer-tools d-flex justify-content-end">
      <form action="http://127.0.0.1:8000/search-by/" class="d-flex me-2" method="post">{% csrf_token %}
        <input class="form-control me-2" type="search" name="search-by" placeholder="Book Name,ISBN,Auther Name,and more" required aria-label="Search" style="display: inline;width: auto;">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
      <form action="http://127.0.0.1:8000/sort-by/" class="d-flex" method="post">{% csrf_token %}
        
        <select class="form-select me-2" id="sort" name="sort-by" aria-label="Default select example" style="width: auto;">
          <option selected value="bookName" >Book Name</option>
          <option value="department">Department</option>
          <option value="category">Category</option>
          <option value="status">Available Books</option>
          <option value="registered_at">New Book First</option>
        </select>
        <button class="btn btn-success" type="submit">Apply filter</button>
      </form>
    
    </div>
    <div class="container mt-2">
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Cover Image</th>
                <th scope="col">Book Name</th>
                <th scope="col">Department</th>
                <th scope="col">Category</th>
                <th scope="col">Author Name</th>
                <th scope="col">ISBN</th>
                <th scope="col">Status</th>
                <th scope="col">Last Issued By</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>

               

              </tr>
            </thead>
            <tbody>
              {% for book in books %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><img src="/media/{{book.coverImage}}" alt="" style="width: 100px;height: 100px;"></td>
                <td>{{book.bookName}}</td>
                <td>{{book.department}}</td>
                <td>{{book.category}}</td>
                <td>{{book.authorName}}</td>
                <td>{{book.ISBN}}</td>
                <td class="{% if book.status == 'Available' %}text-success{% else %} text-Danger {% endif %}">status : {{book.status|default:"Not Available"}}</td>
                <td>{{book.last_issued_by}}</td>
                <td>{{book.bookPrice}}</td>
                <td><a id="edit-{{book.ISBN}}" href="http://127.0.0.1:8000/edit-book/{{book.ISBN}}/" class="btn btn-primary me-2">Edit</a>
            
                <a id="del-{{book.ISBN}}" href="http://127.0.0.1:8000/delete-book/{{book.ISBN}}/" class="btn btn-danger" onclick="confirm('are you sure want delete book?')">Delete</a>
                
                </td>
                
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
    </div> -->
    
</div>
    

{% endblock body %}