{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %} 

<div class="container mt-2 mx-auto">
    <h4 class="my-header">Returned Book Details</h4>
     <div class="filer-tools d-flex justify-content-end" style="position: sticky;top: 70px;left: 0px;z-index: 10;">
      <form action="http://127.0.0.1:8000/search-by/" class="d-flex me-2" method="post">{% csrf_token %}
        <input class="form-control me-2" type="search" name="search-by" placeholder="Book Name,ISBN,Auther Name" required aria-label="Search" style="display: inline;width: auto;">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    
    </div>
    <div class="container mt-2">
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">ISBN</th>
                <th scope="col">Book Name</th>
                <th scope="col">Book Department</th>
                <th scope="col">Category</th>
                <th scope="col">Author Name</th>
                <th scope="col">Returned By</th>
                <th scope="col">Student Library Id</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Return Date</th>
              </tr>
            </thead>
            <tbody>
              {% for returned_book in returned_books reversed %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                
                <td>{{returned_book.ISBN}}</td>
                <td>{{returned_book.bookName}}</td>
                <td>{{returned_book.department}}</td>
                <td>{{returned_book.category}}</td>
                <td>{{returned_book.authorName}}</td>
                <td>{{returned_book.returned_by}}</td>
                <td>{{returned_book.library_id}}</td>
                <td>{{returned_book.email}}</td>
                <td>{{returned_book.mobile}}</td>
                <td>{{returned_book.issue_date}}</td>
                <td>{{returned_book.return_date}}</td>
                
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
    </div>
    
</div>
    

{% endblock body %}