{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block body %} 

<div class="container mt-2 mx-auto">
    <h4 class="my-header">Issued Books Details</h4>
    <div class="container mt-2">
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Sr No.</th>
                
                <th scope="col">ISBN</th>
                <th scope="col">Book Name</th>
                <th scope="col">Book Department</th>
                <th scope="col">Author Name</th>
                <th scope="col">Student Library Id</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Return Date</th>

               

              </tr>
            </thead>
            <tbody>
              {% for issued_book in issued_books reversed %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                
                <td>{{issued_book.ISBN}}</td>
                <td>{{issued_book.bookName}}</td>
                <td>{{issued_book.department}}</td>
                <td>{{issued_book.authorName}}</td>
                <td>{{issued_book.library_id}}</td>
                <td>{{issued_book.email}}</td>
                <td>{{issued_book.mobile}}</td>
                <td>{{issued_book.issue_date}}</td>
                <td>{{issued_book.return_date}}</td>
                
              </tr>
              {% empty %}
              <h5 class="text-danger">No Record Found !!!</h5>
              {% endfor %}
              
            </tbody>
          </table>
    </div>
    
</div>
    

{% endblock body %}